<!DOCTYPE html>
<html>
    {% include "navbar.html" %}
    <head>
    <title>hasil pencarian</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <style>
        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
            background-color: #F3F3F3
            }
        .container{
            margin-top: 3vw;
            background-color: #F3F3F3
        }
        .bintang{
            height: 1rem;
            width: 1rem;
            margin-right: 0.7vw;
        }
        h6{
            text-decoration: underline;
            font-size: 20px;
            margin-top: 2vw;
            margin-bottom: 1vw;
        }
        #review{
            border-width: 0cm;
        }
        .btn{
            background-color: #BD5555;
            color: #F3F3F3;
        }
        #resto{
            border-color: black;
        }
        #reviewtittle, #bintang, #reviewtext{
            margin-bottom: 0.3vw;
        }
        .baris, .batas {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .deskripsi {
            margin-top: 15px;
        }
        .tabel .head {
            width: 100px;
        }
        .foto {
            height: 400px;
            width: 400px;
            margin: 7px;
        }
        .foto-makanan {
            height: 250px;
            width: 250px;
        }
        @media screen and (max-width: 992px) {
            .foto{
                height: 250px;
                width: 250px;
                margin: 5px;
            }
            .foto-makanan {
                height: 250px;
                width: 250px;
            }
        }

        @media screen and (max-width: 600px) {
            .foto{
                height: 200px;
                width: 200px;
                margin: 5px;
            }
            .foto-makanan{
                height: 200px;
                width: 200px;
            }
            .card-horizontal {
                display: flex;
                flex: 1 1 auto;
                flex-direction:column;
            }
            .img-square-wrapper{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .card-body{
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>
    <body style="background-color: #F3F3F3;">
        <div class="container">
            <form method="POST" class="row my-5">
                {% csrf_token %}
                <div class="col-7 ml-auto">
                {{ formpencarian.cari }}
                </div>
                <button type="submit" class="btn col-2 mr-auto">cari</button>
            </form>
            {% if messages %}
            {% for xx in messages %}
            <div class="alert alert-{{ xx.tags }} alert-dismissible fade show mt-4" role="alert">
                {{ xx }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}


        <div class="card" id="resto">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="foto" src="{{resto.foto}}" alt="Card image cap">
                </div>
                 <div class="card-body">
                <h4 class="card-title">{{resto.nama_restoran}}</h4>
                <p class="card-text">Lokasi : {{resto.lokasi}}</p>
                <p class="card-text">Kategori : {{resto.kategori}}</p>
                <p class="card-text"><img class="bintang" src="https://www.freepnglogos.com/uploads/star-png/file-featured-article-star-svg-wikimedia-commons-8.png"> {{resto.rating}}</p>
            </div>
            </div>
        </div>

        <div class="container">
            {% if makanan %}
                {% for makan in makanan %}
                    <div class="row batas">
                        <div class="col-lg-4 baris">
                            <img class="foto-makanan" src="{{ makan.foto }}" alt="Images">
                        </div>
                        <div class="col-md-8 baris">
                            <h3 class="deskripsi">{{ makan.nama_makanan }}</h3>
                            <table class="tabel">
                                <tr>
                                    <td class="head">Harga</td>
                                    <td class="data">: {{ makan.harga }}</td>
                                </tr>
                                <form method="POST">
                                    {% csrf_token %}
                                    <tr>
                                        <td class="head">Jumlah</td>
                                        <td class="data">{{ beli.beli }}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn">Beli</button>
                                        </td>
                                    </tr>
                                </form>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <h6>REVIEW</h6>
        {% for xx in reviews %}
        {% if resto.id == xx.resto.id %}
        <div class ="card" id="review">
            <div class="card-body">
                <h4 class="card-title" id="reviewtittle">{{xx.reviewer}}</h4>
                <p class="card-text" id="bintang"><img class="bintang" src="https://www.freepnglogos.com/uploads/star-png/file-featured-article-star-svg-wikimedia-commons-8.png"> {{xx.rating}}</p>
                <p class="card-text" id="reviewtext">{{xx.isi}}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <h6>Tambah Review</h6>
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="col-7">
                {{ form }}
                </div>
                <button type="submit" class="btn mt-3">Add Review</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <br>
    </body>
    </html>