<!DOCTYPE html>
<html>
{% include "navbar.html" %}
<head>
    <title>hola</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    .card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
</style>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="tombol">tambah</button>
    </form>
    <div class="container">
    {% for xx in allResto %}
    <div class="card">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="" src="{{xx.foto}}" alt="Card image cap" style="height: 10vw; width: 10vw;">
            </div>
            <div class="card-body">
                <h4 class="card-title">{{xx.nama_restoran}}</h4>
                <p class="card-text">{{xx.bintang}}</p>
                <a href="{% url 'kybe:hapusResto' xx.id %}" class="col-2">
                    <button type="button">hapus resto</button>
                </a>   
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

