<!DOCTYPE html>
<html>
{% load static %}
{% include "navbar.html" %}
<head>
	<title>Bayar</title>

	<!-- file CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree Serif" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-image: url('/static/sectionbayar.jpg');
background-size: cover;">
	<div class="container">
		<div class="row"></div>
			<div class="col-md-12">
				<div class="card1" style="margin-top: 15em;border-radius: 100px;opacity: 0.9;">
					<div class="card body border3" style="background-color:  rgb(190, 73, 73);text-align: center;padding: 5em;">
						<h1 style="color: white;">Terimakasih, Pesanan anda sudah dalam proses!</h1>
					</div>
				</div>
				<div class="btn-checkout" style="padding: 10px;float: right;margin-top: 10em ;">
					<a href="{% url 'keranjang:detail' %}">
						<button class="btn btn-danger hover padding1">Semua Transaksi</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>