<!DOCTYPE html>
{% include "navbar.html" %}
{% load static %}

<html>
<head>
	<title>Checkout</title>

	<!-- file CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bree Serif" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #F3F3F3;">
	<div class="container">
		<div class="row padding2">

			<div class="col-md-8">
				{% if show %}
					{% for makanan in show %}
					<div class="row">
						<div class="col-md-4 margin">
							<img class= "fotomakanan" src="{{ makanan.foto }}">
						</div>
						<div class="col-md-8 margin">
							<p>{{ makanan.nama_makanan }}</p>
							<p>Lokasi : {{ makanan.restoran.lokasi }}</p>
						</div>
					</div>
					{% endfor %}
				{% endif %}
			</div>

			<div class="col-md-4">
				<form method="POST">
					<div class="card">
						<div class="card-body border2">
							{% csrf_token %}
							{% for fields in form %}
							{{ fields.label_tag }}
							{{ fields }}
							{% endfor %}
							<div class="btn-checkout" style="padding: 10px;">
								<a href="{% url 'keranjang:bayar' %}">
									<button class="btn btn-danger hover" style="margin-top: 10px;">Bayar</button>
								</a>
							</div>
						</div>
					</div>
				</form>			
			</div>
		</div>
	</div>
</body>
</html>