{% load static %}
{% include "navbar.html" %}
<head>
	<link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>

<img src="{% static '/images/uppercover.png' %}" alt="AboutUs" style="width: 100%;">

<div class = "upper" >
	<p style="margin-bottom: 0px; font-size:1.25vw;">
		Kami membuat web yang dapat menghubungkan antara pembeli dan penjual, seorang pembeli tidak perlu keluar rumah untuk mendapatkan makanan, cukup mengakses web kami di device kalian.
	</p>
</div>

<br>

<div class="topmain">
	<h3 style="">Our goal is to Make your stomach full</h3>
	<p>You guys hungry? Order then</p>
	<hr style="margin-right: 80%; border-color: red;">
	<img src="{% static '/images/mainchef.jpg' %}" alt="AboutUs" style="width: 100%; padding-bottom: 10px;">

	<br>	
	<h3>Guarantee</h3>
	<hr style="margin-right: 80%; border-color: red;">
	<p>Kalian Bakal sangatlah puas dengan aplikasi kami. Selain cuma nyedian makanan, pastinya juga kalian akan senang soalnya transaksi dan sebagainya juga sudah kami sediakan. Dimasa pandemi ini juga banyak restoran yang tutup. Selain kita juga menguntungan costumer, Kita juga bisa menguntungkan para pembisnis</p>
</div>
<br>

<div class  = "middlemain">
	<h3>The 3 Bang Django Pillars</h3>
	<hr style="margin-right: 35%; margin-left: 35%; border-color: red;">
	<br><br><br>
	<div class="container">
	  <div class="row">
	    <div class="col-lg">
	    	<img src="{% static '/images/foodPillars.png' %}" alt="AboutUs" style="width: 50%;">
	    	<br><br>
	      <h4>Easy Food</h4>
	      <hr style="margin-right: 35%; margin-left: 35%; border-color: red; margin-top: 5px;">
	      <p>Kalian Bakal sangatlah puas dengan aplikasi kami. Milih makanan dijamin gampang banget. Restorannya pun sangatlah terpercaya</p>
	    </div>
	    <div class="col-lg">
	    	<img src="{% static '/images/transactionPillars.png' %}" alt="AboutUs" style="width: 50%;">
	    	<br><br>
	      <h4>Easy Transaction</h4>
	      <hr style="margin-right: 35%; margin-left: 35%; border-color: red; margin-top: 5px;">
	      <p>Kalian Bakal sangatlah puas dengan aplikasi kami. Cara bertransaksi mudah dan aman banget. Jangan sampai takut kalo belanja dengan aplikasi kami</p>
	    </div>
	    <div class="col-lg">
	    	<img src="{% static '/images/pickPillars.png' %}" alt="AboutUs" style="width: 50%;">
	    	<br><br>
	      <h4>Easy Pick</h4>
	      <hr style="margin-right: 35%; margin-left: 35%; border-color: red; margin-top: 5px;">
	      <p>Kalian Bakal sangatlah puas dengan aplikasi kami. Kalian bingung mau makan apa tinggal pilih. Gaperlu ribet, semua makanan ada!!</p>
	    </div>
	  </div>
	</div>
</div>

<div class = "lowermain_visi">
	<img src="{% static '/images/visipict.jpg' %}" alt="AboutUs" style="width: 50%; float: left; padding-right: 5%;">
	<h4>Visi</h4>
	<hr style="margin-right: 40%; margin-left: 50%; border-color: red; margin-top: 5px;">
	<p>Melayani anda dengan sepenuh hati tanpa adanya pamrih dan selalu memberikan pelayanan  yang terbaik. Selain itu, visi lainnya yaitu kami membuat hidup anda jauh lebih baik, aman, nyaman serta yang terpenting, Instant. Dengan ini, kehidupan akan menjadi lebih baik dan tentram</p>
</div>

<div class = "lowermain_misi">
	<img src="{% static '/images/misipict.jpg' %}" alt="AboutUs" style="width: 50%; float: right; padding-left: 5%;">
	<h4 style="text-align: right;">Misi</h4>
	<hr style="margin-right: 50%; margin-left: 40%; border-color: red; margin-top: 5px;">
	<p style="text-align: right;">Memberikan Pelayanan yang baik serta interaktif kepada para pelanggannya serta memberikan kemudahan dalam pengaksesan website agar pelanggan tidak kebingungan. Selain itu, Memberikan pelanggan kepuasan untuk bisa memilih dan melakukan sampai tahap pengiriman yang aman dan nyaman </p>
</div>

<hr>

{% include "base.html" %}