{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

    <!-- Make it Responsive -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="containerFooter">
      <div class="row">
          <div class="col-sm">
            <h3>OrderIn</h3>
            <br>
            <p style="text-align: left;">
              Pandemi membuat banyak bisnis kuliner gulung tikar, para konsumen juga kesulitan untuk mencari makanan di luar. Kami membuat web yang dapat menghubungkan antara pembeli dan penjual, seorang pembeli tidak perlu keluar rumah untuk mendapatkan makanan, cukup mengakses web kami di laptop atau smartphone masing-masing. Terima Kasih
            </p>
          </div>
          <div class="col-sm">
            <h3>Features</h3>
            <br>
            <a href="{% url 'ppw:index' %}" style="color: white; font-size: large;">Home </a> <br><br>
            <a href="{% url 'keranjang:keranjang' %}" style="color: white; font-size: large;">Keranjang</a> <br><br>
            <a href="{% url 'loginApp:login'%}" style="color: white; font-size: large;">Log In</a> <br><br>
            <a href="{% url 'loginApp:register'%}" style="color: white; font-size: large;">Sign Up</a> <br><br>
            <a href="{% url 'extra:aboutus'%}" style="color: white; font-size: large;">About Us</a> <br><br>
            <a href="{% url 'extra:helpcenter'%}" style="color: white; font-size: large;">Help Center</a> <br><br>
          </div>
          <div class="col-sm" >
            <h3>Contact Us</h3>
            <br> 
            <div>
            <a href="https://line.me/id/" style="color: white">
              <img src="{% static '/images/line.png' %}" style="width: 35px;" > LINE APPS
            </a>
            <br><br>
            <a href="https://web.whatsapp.com/" style="color: white">
              <img src="{% static '/images/whatsapp.png' %}" style="width: 35px; text-align: left;" > WHATSAPP
            </a>
            <br><br>
            <a href="https://www.instagram.com/kesegaran.fasilkom/?hl=id" style="color: white">
              <img src="{% static '/images/instagram.png' %}" style="width: 35px;" > INSTAGRAM 
            </a>
            </div>
          </div>
      </div>
    </div>
    <div class="FooterCopyRight">
      <hr style="background-color: white;  margin-top: 0px;">
      <p>© 2020 Copyright: bangdjango.herokuapp.com/</p>
    </div>
  </body>
</html>
