{% include "navbar.html" %}
{% load static %}

<head>
	<link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<br>
<h4 style="width: 50%; background-color: #BD5555; color : white; margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 0px;" >DELETE QUESTION</h4>

<form action = '' method="POST">


  <div class="coloumn" style="background-color: lightgrey; width: 50%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 20px;">

		{% csrf_token %}

		<h4 style="color: red; padding-top: 20px;" >WARNING!!!!!</h4>
		<strong>ARE YOU SURE WANTS TO DELETE</strong>
		<br>
		<br>

		<div align="center">
			<button class="btn btn-primary">
				<a href='{% url "extra:collections" %}' style="color:white">Cancel</a>
			</button>

			<input type = "submit" class="btn btn-primary" name = "Confirm">
		</div>
	</div>

</form>
<br>
