{% load static %}
{% include "navbar.html" %}

<head>
	<link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<img src="{% static '/images/uppercover2.png' %}" alt="HelpCenter" style="padding: 0px 15% 0px 15%; width: 100%;" >

<div class = "middlemain2">
	<hr>
	<form action = '' method="POST">

	  <div class="coloumn" style="background-color: lightgrey; padding-bottom: 20px;">
	  		<h4 align="center" style="background-color: #BD5555; color : white;">Feel Free to Give us a Question</h4>
			{% csrf_token %}
			<br>
			{{form.Question}}
			<br>
			<br>
			<input type = "submit" class="btn btn-primary" >
			<button class="btn btn-info">
				<a href="{% url 'extra:collections'%}" style="color: white; ">QnA</a>
			</button>
		</div>
	</form>

	<hr>

	<div class="container">
	  <div class="row">
	    <div class="col-sm">
	      <h4 style="color: black">Frequently Ask</h4>
	    </div>
	  </div>
	  <br>


{% for item in result %}

	<div class="container1" style="margin-bottom: 10px;">
	  <div class="row">
	    <div class="col-sm">
			<button class="accordion">{{item.Question}}</button>
			<div class="panel">
			  <p>{{item.Answer}}</p>
			</div>
	    </div>
	  </div>
	</div>


{% endfor %}

</div>

<!-- Extra Javascript Accordian -->
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>

</div>

<br>
<hr>

{% include "base.html" %}